/* FONTS */

/* Variables */
:root {
  --body-bg: rgb(251, 240, 254);
  --border: rgb(113, 58, 185);
  --symbol: rgb(159, 116, 201);
  --number: rgb(10, 19, 60);
}

/*Main Styles*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.calc {
  background-color: var(--body-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc__container {
  width: 350px;
  height: 80%;
  border: 1px solid var(--border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.calc__display {
  padding: 0 20px;
  flex: 5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  text-align: right;
  outline: none;
}
#results {
  flex: 5;
  font-size: 60;
  font-weight: 500;
}
#output {
  flex: 4;
  font-size: 40px;
}
.calc__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 8;
  display: flex;
  flex-direction: column;
}
.calc__item {
  flex: 1;
  display: flex;
}
.calc__item:not(:last-child) {
  margin-bottom: 5px;
}
.calc__item button:not(:last-child) {
  margin-right: 5px;
}
.symbol {
  background-color: var(--symbol);
}
.number {
  background-color: var(--number);
}
button {
  border: none;
  flex: 1;
  color: #fff;
  font-size: 30px;
}

button:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
}
